.Spacer{
  height: 200px;
  width: 100vw;
}

.Projects{
  min-height: 100vh;
  display: flex;
  width: 100vw;
  flex-direction: column;
  max-width: 1000px;
}

.Projects_row{
  min-height: 200px;
  padding: 0 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 320px;
}

.Projects_row_img_container{
  width: 200px;
  margin: auto;
  z-index: 1;
  border-radius: 8px;
  height: 200px;
  overflow: hidden;
}
.Projects_row_text{
  width: 300px;
  padding: 0 32px;
  text-align: justify;
  line-height: 24px;
}
.Projects_row_img{
  height: 100%;
}
.Projects_row_sources_container{
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Projects_row_source{
  width: 300px;
  padding: 0 32px;
  line-height: 24px;
}

.dropshadow{
  position: absolute;
  z-index: -1;
  top:0;
  pointer-events: none;
  width: 282.8427px; 
  height: 500px;
  background: linear-gradient(rgba(0, 0, 0, 0.15) 0%,   rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0) 100%);
  transform: translateX(-140px) translateY(-250px) rotateZ(-45deg)  skewX(0deg) translateY(385px) scaleX(0.956161);
}

@media screen and (max-width: 400px) {
  .Projects_row_text{
    margin: 32px auto;
    padding: 0;
  }
  .Projects_row{
    padding: 0 24px ;
  }
}
