.Contact {
  align-self: center;
  min-height: 90vh;
  display: flex;
  width: 100%;
  flex-direction: column;
  max-width: 500px;
  flex-wrap: wrap;
  padding-top: 100px;

}

.Contact_link {
  border-left: 2px solid #6227b1;
  font-size: 24px;
  padding: 36px;
  font-family: 'minimal';
  transition: all 0.3s;
  letter-spacing: 3px;
}

.Contact_link:hover {
  color: #aaaaaa;

}

.hiddenOffset {
  display: block;
  position: relative;
  top: -55px;
  visibility: hidden;
}

@media screen and (max-width: 768px) {
  .Contact {
    padding-top: 100px;
  }

  .Contact_link {
    border-right: 3px solid transparent;
  }

  .hiddenOffset {
    top: -50px;
  }
}