@keyframes slideInFromTop {
  0% {
    transform: translateY(-10%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromTopDelay {
  0% {
    transform: translateY(-10%);
    opacity: 0;
  }

  50% {
    transform: translateY(-10%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromTopDelayLong {
  0% {
    transform: translateY(-10%);
    opacity: 0;
  }

  66% {
    transform: translateY(-10%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromTopDelayLonger {
  0% {
    transform: translateY(-10%);
    opacity: 0;
  }

  75% {
    transform: translateY(-10%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromTopDelayEvenLonger {
  0% {
    transform: translateY(-10%);
    opacity: 0;
  }

  80% {
    transform: translateY(-10%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  84% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.Screen_one {
  display: flex;
}

.NavSticky {
  z-index: 10;
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
  display: flex;
  width: 100vw;
}

.Navbar {
  /* scrollbars suck */
  /* width: calc(100vw - 18px); */
  /* animation: 2.5s ease-out 0s 1 slideInFromTopDelayEvenLonger; */
  /* background: var(--background-color); */
  background-color: #7241c8;
  height: 50px;
  /* background: #fff; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* padding-left: 150px; */
  flex: 1;
}

.Navbar_link {
  padding: 8px;
  margin: 0 8px;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease-out;
}


.Navbar_link:hover {
  border-bottom: 2px solid #8163a8;
}

.Homepage {
  flex: 1;
  display: flex;
  padding-top: 140px;
  flex-direction: column;
  min-height: 100vh;
  max-width: 600px;
  padding-left: 64px;
  align-self: flex-start;
}

.Homepage_megaText {
  /* font-family: 'minimal'; */
  letter-spacing: 6px;
  animation: 1s ease-out slideInFromTopDelay;
  font-size: 40px;
  color: #555555;
  margin: 16px;
}

.long_delay {
  animation: 1.5s ease-out slideInFromTopDelayLong;
}

.longer_delay {
  animation: 2s ease-out slideInFromTopDelayLonger;
}

.even_longer_delay {
  animation: 2.5s ease-out slideInFromTopDelayEvenLonger;
}

.Made_by_ed {
  color: #6227b1;
  animation: 2.5s ease-out fadeIn;
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.Made_by_ed_text {
  color: #6227b1;
  font-family: 'minimal';
  font-size: 25px;
  letter-spacing: 2px;
}

.Homepage_chevron {
  animation: 2.5s ease-out fadeIn;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 768px) {
  .Navbar {
    padding: 0 8px;
    /* scrollbars suck */
    width: calc(100vw - 18px);
  }

  .Navbar_link {
    margin: 0px;
  }

  .Homepage {
    padding-left: 0;
    align-self: center;
  }
}

#darkmode-toggle {
  background: none;
  border: none;
  font-size: 25px;
  cursor: pointer;
  outline: none;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 9999;
  filter: grayscale(60%);
}