.Spacer{
  height: 200px;
  width: 100%;
}

.Projects{
  min-height: 100vh;
  display: flex;
  width: 100%;
  flex-direction: column;
  max-width: 1000px;
  overflow: hidden;
}

.Projects_row{
  min-height: 200px;
  padding: 0 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 320px;
}

.Projects_row_img_container{
  position: relative;
  width: 200px;
  margin: 16px auto;
  z-index: 1;
  height: 200px;
}
.Projects_row_img_inner_container{
   overflow: hidden;
   height: 100%;
   width: 100%;
   border-radius: 8px;
}
.Projects_row_text{
  width: 300px;
  padding: 0 32px;
  text-align: justify;
  line-height: 24px;
}
.Projects_row_text_title{
  font-size: 20px;
}
.Projects_row_title_container{
  display: flex;
  padding: 0 32px 4px;
  justify-content: space-between;
}
.Projects_row_img{
  height: 100%;
}
.Projects_row_sources_container{
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.Projects_row_source{
  font-size: 18px;
  padding: 8px;
  transition: all 0.3s;
  color: #aaaaaa;

}
.Projects_row_source:hover{
  color: #999999;
}

.dropshadow{
  position: absolute;
  z-index: -1;
  top:0;
  pointer-events: none;
  width: 282.8427px; 
  height: 500px;
  background: linear-gradient(rgba(0, 0, 0, 0.15) 0%,   rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0) 100%);
  transform: translateX(-140px) translateY(-250px) rotateZ(-45deg)  skewX(0deg) translateY(385px) scaleX(0.956161);
}

@media screen and (max-width: 400px) {
  .Projects_row_img_container{
    margin: 64px auto;
  }
  .Projects_row_sources_container{
    flex: 1;
    flex-direction: row;
  }
  .Projects_row_text{
    margin: 32px auto;
    padding: 0;
  }
  .Projects_row{
    padding: 0 24px ;
    margin-bottom: 100px;
  }
}
